<toolbar></toolbar>
<md-content md-scroll-y layout="row" flex layout-align="start stretch" layout-wrap>

  <!-- Blog 1 -->
  <div class="tile" flex="100" flex-gt-xs="50" flex-gt-sm="33" layout="column" layout-align="stretch">
    <blog blog="vm.blogs[0]" flex md-whiteframe="1"></blog>
  </div>

  <!-- Blog 2 -->
  <div class="tile" flex="100" flex-gt-xs="50" flex-gt-sm="33" layout="column" layout-align="stretch">
    <blog blog="vm.blogs[1]" flex md-whiteframe="1"></blog>
  </div>

  <!-- Your updates -->
  <div class="tile" flex="100" flex-gt-xs="50" flex-gt-sm="33" layout="column" layout-align="stretch">
    <your-updates flex md-whiteframe="1" layout="row" layout-align="stretch"></your-updates>
  </div>

  <!-- Publication Metrics -->
  <div class="tile" flex="100" flex-gt-xs="50" flex-gt-sm="33" layout="column" layout-align="stretch">
    <publication-metrics flex md-whiteframe="1"></publication-metrics>
  </div>

  <!-- Computers -->
  <div class="tile" flex="100" flex-gt-xs="50" flex-gt-sm="33" layout="column" layout-align="stretch">
    <computers flex md-whiteframe="1"></computers>
  </div>

  <!-- Hours -->
  <div class="tile" flex="100" flex-gt-xs="50" flex-gt-sm="33" layout="column" layout-align="stretch">
    <hours flex md-whiteframe="1" layout="row" layout-align=></hours>
  </div>

</md-content>