<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
    style="background-color: #eee"
    md-whiteframe="4">
  <md-toolbar class="sidenav-logo" ng-show="vm.$mdMedia('gt-md')">
    <a href="http://www.uq.edu.au">
      <img src="https://static.uq.net.au/v1/logos/corporate/uq-logo-white.svg" style="width: 250px;" />
    </a>
  </md-toolbar>
  <md-content class="sidenav-menu" role="navigation" md-scroll-y layout="column" flex>
    <md-sidemenu locked="true">

      <md-sidemenu-button href="#">Home</md-sidemenu-button>
      <md-divider></md-divider>

      <md-sidemenu-group>
        <md-sidemenu-content md-heading="Library services" md-arrow="true">
          <md-sidemenu-button href="#">for Students</md-sidemenu-button>
          <md-sidemenu-button href="#">for Researchers</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>

      <md-divider></md-divider>

      <md-sidemenu-group>
        <md-sidemenu-content md-heading="Research tools & techniques" md-arrow="true">
          <md-sidemenu-button href="#">for Students</md-sidemenu-button>
          <md-sidemenu-button href="#">for Researchers</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>
      <md-divider></md-divider>
      <md-sidemenu-group>
        <md-sidemenu-content md-heading="Collections" md-arrow="true">
          <md-sidemenu-button href="#">for Students</md-sidemenu-button>
          <md-sidemenu-button href="#">for Researchers</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>
      <md-divider></md-divider>
      <md-sidemenu-group>
        <md-sidemenu-content md-heading="Borrowing & requesting" md-arrow="true">
          <md-sidemenu-button href="#">for Students</md-sidemenu-button>
          <md-sidemenu-button href="#">for Researchers</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>
      <md-divider></md-divider>
      <md-sidemenu-group>
        <md-sidemenu-content md-heading="Locations & hours" md-arrow="true">
          <md-sidemenu-button href="#">for Students</md-sidemenu-button>
          <md-sidemenu-button href="#">for Researchers</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>
      <md-divider></md-divider>
      <md-sidemenu-group>
        <md-sidemenu-content md-heading="About" md-arrow="true">
          <md-sidemenu-button href="#">for Students</md-sidemenu-button>
          <md-sidemenu-button href="#">for Researchers</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>
      <md-divider></md-divider>
      <md-sidemenu-button href="#">Contact us</md-sidemenu-button>
      <md-divider></md-divider>
      <md-sidemenu-button href="#">Logout</md-sidemenu-button>
    </md-sidemenu>
  </md-content>
</md-sidenav>