<md-content flex layout="column">
  <md-toolbar style="background-color: #49075E">
    <div class="md-toolbar-tools">Your Updates</div>
  </md-toolbar>
  <md-content layout="column" layout-align="space-around stretch" flex>
    <md-list layout="column" ng-cloak>
      <md-list-item ng-click="null">
        <md-icon>room</md-icon>
        <p class="md-body-1">Next class: '<strong>ENG001</strong>' in Room 123, Duhig North (14:00)</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        <md-icon>library_books</md-icon>
        <p class="md-body-1">Your loan 'Best design practices in 2016' is due in 2 days!</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        <md-icon>mail</md-icon>
        <p class="md-body-1">You have <strong>5</strong> unread emails</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        <md-icon class="md-accent">warning</md-icon>
        <p class="md-body-1">You have <strong>$13.49</strong> overdue charges.</p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
    <span flex></span>
    <div layout="row" layout-padding>
      <span flex></span>
      <span class="md-title" style="color: #49075E">Printing balance: $4.00</span>
    </div>
  </md-content>
</md-content>